@page "/"
@namespace KTVChallenge.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KTV Lyric Challenge</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/site.css" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <script src="_framework/blazor.server.js"></script>

    @* 本機版 SignalR：一定要在 gamehub.js 之前 *@
    <script src="lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

    <script src="js/helpers.js" asp-append-version="true"></script>
    <script src="js/gamehub.js" asp-append-version="true"></script>
</body>
</html>
