@page "/host"
@inject NavigationManager Nav
@inject IJSRuntime JS

<h1>舞台畫面</h1>

<!-- 原本內容不動 -->
<audio id="player" controls></audio>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // 從 URL 拿 ?songId=xxx
            var uri = Nav.ToAbsoluteUri(Nav.Uri);
            if (Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query)
                .TryGetValue("songId", out var songId))
            {
                await JS.InvokeVoidAsync("GameHub.startSong", songId.ToString());
            }
            else
            {
                // 沒指定就播 demo
                await JS.InvokeVoidAsync("GameHub.startSong", "demo");
            }
        }
    }
}
