@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-4">
            <a href="/host" class="title">舞台</a>
            <a href="/control">控制台</a>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
